node_modules/
out/
pnpm-lock.yaml

# Generated language files.
packages/language/src/generated/
packages/language/syntaxes/gas.tmLanguage.json

# Generated protocol validator.
packages/protocol/generated/
